:host {
  .plans {
    ion-icon {
      font-size: 50px;
    }

    p {
      font-size: 12px;
      margin: 5px;
    }

    div ion-label {
      font-size: 15px;
      font-weight: 600;
    }
  }
  .coverage {
    font-size: 10px;
  }
}
